{% load static %}
{% load quotes %}
<div class="ticker-row">
    <div>
        <span class="image-wrap">
        <a href="{{quote.Website}}" target="_blank">
            <img src="{% static 'images/' %}{{quote.Symbol|load_image}}" class="img-responsive" alt="">
        </a>
    </span>
        <h3>{{quote.CompanyName}} {{forloop.counter}}</h3>
        <h4>
            <span class="ticker">
                <a title="{{quote.CompanyName}} Quote" href="{{quote.Website}}">
                    {{quote.ExchangeName}}:<span class="symbol">{{quote.Symbol}}</span>
                </a>
            </span>
        </h4>
        <aside class="price-quote-container">
            <h4 class="current-price">
                ${{quote.CurrentPrice.Amount}}
            </h4>
            <h4 class="price-change-amount price-neg">
                ${{ quote.Change.Amount}}
            </h4>
            <h4 class="price-change-percent price-neg">
                ({{ quote.PercentChange.Value|floatformat:2}}%)
            </h4>
        </aside>
    </div>
</div>