<div class="ticker-row">
    <div>
        <h3>Apple {{forloop.counter}}</h3>
        <h4>
            <span class="ticker">
                <a title="Apple Stock Quote" href="#">
                    NASDAQ:<span class="symbol">AAPL</span>
                </a>
            </span>
        </h4>
        <aside class="price-quote-container">
            <h4 class="current-price">
                $170.15
            </h4>
            <h4 class="price-change-amount price-neg">
                $0.95
            </h4>
            <h4 class="price-change-percent price-neg">
                (-0.56%)
            </h4>
        </aside>
    </div>
</div>